<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal个人博客·</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL个人博客</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME主页</a></li>


        <li>  <a href="/compose">COMPOSE新博客</a>  </li>
          <li id="about"><a href="/about">ABOUT ME关于我</a></li>
          <li id="contact"><a href="/contact">CONTACT ME联系我</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
